version: '3.8'
services:
  nginx:
    image: nginx:1.25.1
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./private/certificate.crt:/home/ubuntu/CA/certificate.crt:ro
      - ./private/private.key:/home/ubuntu/CA/private.key:ro
      - ./private/ca_bundle.crt:/home/ubuntu/CA/ca_bundle.crt:ro
    depends_on:
      - canchu
    networks:
      - canchu
  #db:
  #image: mysql:8
  #container_name: mysql_container
  #environment:
  #MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
  #MYSQL_USER: canchu
  #MYSQL_PASSWORD: happy1234
  #MYSQL_DATABASE: Canchu
  #TZ: Asia/Taipei
  #ports:
  #- 3306:3306
  #command: --init-file /docker-entrypoint-initdb.d/init.sql
  #command:
  #[
  #'mysqld',
  #'--character-set-server=utf8mb4',
  #'--collation-server=utf8mb4_unicode_ci',
  #'--default-time-zone=+08:00',
  #]
  #volumes:
  #- ./canchu.sql:/docker-entrypoint-initdb.d/init.sql
  #- mysql_data:/var/lib/mysql
  #networks:
  #- canchu
  redis:
    image: redis:7.0.12-alpine
    container_name: redis_container
    ports:
      - 6379:6379
    networks:
      - canchu
  canchu:
    image: canchu-server
    container_name: canchu-server
    ports:
      - 3000:3000
    volumes:
      - public_data:/Canchu/public/pictures
    depends_on:
      - redis
        #CMD ["bash", "/Canchu/wait-for-it.sh", "db:3306", "--", "node", "server.js"]

        #command: ["./wait-for-it.sh", "db:3306","--", "node", "server.js"]
    networks:
      - canchu

volumes:
  mysql_data:
  public_data:

networks:
  canchu:
    driver: bridge
